@model Vidly.Models.Customers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<h4>MembershipType: @Model.MembershipType.Name </h4>
@if (Model.BirthDate != null)
{
<h4>BirthDate: @Model.BirthDate</h4>
}

